[submodule "third_part/nghttp2"]
	path = third_part/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
	branch = v1.62.x
[submodule "third_part/nghttp3"]
	path = third_part/nghttp3
	url = https://github.com/ngtcp2/nghttp3.git
	branch = v1.1.0
[submodule "third_part/ngtcp2"]
	path = third_part/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
	branch = release-1.0
